{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<h1>My Items</h1>

<div class="row">
{% for item in items%}
<div class="col col-4 mb-4">
    <div class="card">
          <img src="{{ item.image.url }}" class="card-img-top img-thumbnail" style="aspect-ratio:1" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ item }}</h5>
    <p class="card-text">{{ item.description}}</p>
    <p class="card-text">Price: {{ item.price}}</p>
    <a href="{% url 'item:show' item.id %}" class="btn btn-primary">Detail</a>
  </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}